/*----------------NAVBAR ---------------*/


.navbar {background: #FFFFFF;}

.navbar-name {
  font-family: 'Century Gothic', sans-serif;
  color: #008cd1;
  font-size: 2em;
  padding-top: .5em;
  padding-left: .25em;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a{
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 1px 3px 15px 1px rgba(0,0,0,0.1);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
  background-color: #FFFFFF;
  color: #008cd1;
}

@media print {
  .distill-site-nav {
    display: none;
  }
}

body .main-container {
max-width: 1150px;
}

/* Heading Font */  
 

h1, .h1 {
  font-family: 'Century Gothic', sans-serif; 
  font-size: 2em;
  font-weight: bold;
  color: #45535a;
}

h2, .h2{
  font-family: 'Century Gothic', sans-serif; 
  font-size: 2em;
  font-weight: bold;
  color: #45535a;
}


h3, .h3{
  font-family: 'Century Gothic', sans-serif; 
  font-size: 1.5em;
}

h4, .h4, h5, .h5 {
  font-family: 'Century Gothic', sans-serif; font-weight: bold;
}

p {
  font-family: sans-serif;
  font-size: 1.25em;
}


table {
  border-spacing: 5px;
}


th {
  text-align: left;
}

#about td {
  text-align: justify;
  border-left: 4px solid #008cd1;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

