
h1 {
  font-size: 32px;
  color: purple
}

/*----------------NAVBAR ---------------*/

.navbar-default {
    background-color: #286DA8;
    color: #FFFFFF;
}


.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.active>a, 
.dropdown-toggle:hover {
  background-color: yellow;
}


/* Dropdown menu color */
.navbar-default .dropdown-menu {
  background-color: orange;
}

/* Dropdown menu hover color */
  .navbar-default .dropdown-menu>li>a:hover {
    background-color: yellow;
  }


.navbar {
  color: purple;
}